.item_quantity input{
    width:50px;
}
/* -----------General Shopping cart CSS */

.shopping_item_bar{
	height: 64px;
	background: url(../images/shopping_item_bar.png) repeat-x;
	border: 1px solid #A6A6A6;
	font-family:Verdana;
	position:relative;
}

.shopping_item_name, .shopping_item_name a{
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}

.shopping_item_name a:hover{
	color:#0085CF;
}

span.shopping_item_price{
	color:#000000;
	font-weight:800;
	font-size:12px;
}

span.shopping_item_description{
	color:#686868;
	font-size:12px;
	font-weight:normal;
}

.shopping_notice{
	color: #0085CF;
	font-weight:bold;
	font-size:13px;
}

/* view cart button */
#shopping_view_cart{
	background: url(../../shopping/images/view_cart.png) no-repeat;
	width:112px;
	height:44px;
	position:relative;	
}
	#cart_item_count{
		color:#666666;
		font-size:16px;
		font-family:Verdana;
		margin-left:-40px;
		display:block;
		text-align:center;
		top:8px;
		margin-top:7px;
	}


/* ----------Item List Page CSS */
.shopping_item_bar.item_list{
	margin-bottom:10px;
}

.item_list .shopping_item_name a{
	position:absolute;
	top:10px;
	left:85px;
}

span.shopping_item_main_image{
	width:78px;
	height:64px;
}

span.shopping_item_main_image img{
	border:1px solid #CCCCCC;
	background:#ffffff;
	border-right: 1px solid #A6A6A6;
	position:absolute;
	top:-1px;
	left:-1px;
}

span.shopping_item_main_image img:hover{
	border:1px solid #0085CF;
}

.item_list span.shopping_item_description{
	top:10px;
	overflow:hidden;
	position:absolute;
	top:27px;
	left:85px;
	margin-right:100px;
	height:25px;
	overflow:hidden;
	
}

.item_list span.shopping_item_price{
	position:absolute;
	right:10px;
	top:10px;
}

.item_list span.num_in_cart{
	position:absolute;
	right:10px;
	top:27px;
	font-size:12px;
	
}

/* ------------Item Details Page CSS */
.item_details .shopping_item_name{
	position:absolute;
	top:20px;
	left:10px;
}

#shopping_details{
	border: 1px solid #CDCDCD;	
	position:relative;
	font-family:Verdana;
	font-size:12px;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:10px;
}

#shopping_rightcol{
	position:relative;
	top:-10px;
}

#shopping_action_box{
	border-left: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	width:265px;
	float:right;
	margin-bottom:12px;
	padding-top:10px;
}

.add_to_cart{
	position:absolute;
	right:10px;
	top:10px;
	/*background: url(../images/add_to_cart.png) no-repeat; */
	width:110px;
	height:42px;
}

#shopping_action_details{
	padding-left:10px;	
}

.item_details span.shopping_item_description{
	color:#686868;
	font-size:12px;
}

#shopping_item_thumbs{
	float:right;
	clear:right;
	width:265px;
}

#shopping_item_thumbs a{
	margin-right:10px;
	margin-top:10px;
	width:73px;
	height:64px;
}

#shopping_item_thumbs img{
	border: 1px solid #CDCDCD;
	/*padding:10px; */
}

#shopping_item_thumbs img:hover{
	border: 1px solid #0085CF;
}



#shopping_variations{
	margin-top:20px;	
}

#shopping_variations select{
	margin-bottom:10px;	
}

#item_content{
	padding-right:10px;	
}

/* ------------Review and Checkout Page CSS */
.shopping_item_bar_checkout{
	height: 31px;
	background: url(../images/shopping_item_bar_checkout.png) repeat-x;
	border: 1px solid #A6A6A6;
	font-family:Verdana;
	position:relative;
	margin-bottom:4px;
}

#shopping_review_checkout span.shopping_item_description{
	margin-right:100px;
	height:33px;
	overflow:hidden;
}

#shopping_review_checkout span.shopping_item_name{
	position:absolute;
	left:10px;
	top:5px;
	margin-right:100px;
	height:33px;
	overflow:hidden;
}

#shopping_review_checkout .shopping_selection_quantity input{
	position:absolute;
	right:3px;
	top:3px;
	width:35px;
	height:19px;
	padding: 0px;
	margin:0px;
	font-size: 15px;
	font-weight:bold;
	text-align:right;
}

#shopping_review_checkout span.shopping_item_price{
	position:absolute;
	right:52px;
	top:7px;
}

.shopping_checkout{
	border:1px solid #A6A6A6;
	float:right;
	clear:both;
	margin-top:10px;
}

.shopping_checkout:hover{
	border:1px solid #0085CF;
}

#other_cart_actions{
   text-align:right;
   position:relative;
}

#other_cart_actions a{
   color:#A5A5A5;
}

#other_cart_actions a:hover{
   color:#000000;
}

#cart_updated_notice{
   position:absolute;
   right:0px;
   top:-15px;
}

#shopping_subtotal{
	float:right;
	font-weight:bold;
	font-family:Verdana;
	font-size:14px;
	margin-top:5px;
	color:#666666;
}